.accordion {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
}
.accordion-title {
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
}

.accordion-title::after {
  content: "\25B8";
  position: absolute;
  font-size: 25px;
  top: 50%;
  right: 0px;
  margin-right: 10px;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
  transform-origin: center; 
}

.accordion-title.active::after {
  transform: translateY(-50%) rotate(90deg);
}


.accordion-chapters {
  display: none;
  padding-left: 20px;
}

.accordion-title.active + .accordion-chapters {
  display: block;
}


.lesson-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}


.lesson-item input[type="checkbox"] {
  margin-top: 4px;
  margin-right: 10px; 
  width: 20px;
  height: 20px;
  border: 2px solid #06bbcc; 
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.lesson-item input[type="checkbox"]:checked + label::before {
  content: "\2713"; 
  font-size: 16px;
  color: #fff; 
  background-color: #06bbcc; 
  border: 2px solid #06bbcc;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.lesson-item label {
  margin-top: 3px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.lesson-item.active {
  font-weight: bold;
  color: #06bbcc;
}

.lesson-item.active {
  background-color: #f0f0f0;
}

.edit {
  text-align: center;
  margin: 10px;
  background-color: green; 
  color: #fff; 
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  text-decoration: none; 
  display: inline-block;
  transition: background-color 0.3s;
  margin-left: 50px;
  }
  
  .edit:hover {
    background-color: white;
    color: green;
    
  }

  .upload {
    margin: 10px;
    background-color: rgb(43, 161, 11); 
    color: #fff; 
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;
    transition: background-color 0.3s;
    margin-left: 50px;
    }
    
    .upload:hover {
      background-color: white;
      color: rgb(40, 226, 217);
      
    }
  .edit-div{
    display: flex;
    text-align: center;
  }

  .course-buttons {
    display: flex;
    align-items: center;
    margin:20px;
    margin-bottom: 10px; 
  }
  
  .attempt-div {
    margin-right: 10px; 
  }
  
  .live-chat-div {
    margin-left: 10px; 
  }
  
  .attempt-quiz {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .live-chat-button {
    background-color: #00a2ff; 
    border: none;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
  }
  
  .attempt-quiz:hover {
    background-color: #45a049;
  }
  
  .live-chat-button:hover {
    background-color: #0056b3;
  }
  