.course-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}
.course-content {
  display: flex;
  width: 70%;
  border-radius: 5px;
}

.main-content {
  flex: 2;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: hidden;
}

.video-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%;
}
.video-player-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 100%;
  padding: 20px;
  margin: 5px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  border: 2px solid #ddddddcd;
  flex: 1;
  padding-left: 10px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 100vh;
}

.sidebar h2 {
  text-align: center;
  font-size: xx-large;
}

.course-details-section {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.course-details-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.course-details-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.course-information {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 10px;
  margin: 20px;
}

.rating-section,
.student-section,
.hours-section {
  text-align: center;
  padding: 0 10px;
}

.star-rating {
  color: gold;
  font-weight: bold;
}

.rating-count,
.student-count,
.hours-count {
  color: #000;
  font-weight: bold;
}

.what-learn {
  padding: 1rem;
  border: 1px solid black;
}

.what-learn h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.learn-list {
  list-style-type: disc;
  margin-left: 20px;
}

.learn-list li {
  margin: 0.5rem 0;
  padding-left: 1rem;
}

.instructor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000;
  padding: 10px;
  border: 1px solid #000;
}

.instructor-info {
  flex: 2;
}

.instructor-info h5 {
  margin: 0;
  font-size: 20px;
}

.instructor-updated,
.instructor-institute {
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.instructor-updated p,
.instructor-institute p {
  margin: 0;
  font-size: 18px;
}

.instructor-experience {
  flex: 2;
  padding-top: 10px;
}

.instructor-experience p {
  margin: 0;
  font-size: 16px;
}
.reviews-container {
  padding: 20px;
}

.reviews-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.reviews-list {
  list-style: none;
  padding: 0;
}

.review-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-author {
  font-weight: bold;
}

.review-date {
  color: #666;
}

.review-rating {
  font-size: 20px;
  margin-bottom: 10px;
}

.star {
  color: #ffd700;
}

.review-comment {
  font-size: 16px;
  line-height: 1.5;
}

.review-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0px 20px 0px;
}

.review-form-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.review-input {
  margin-bottom: 15px;
}

.review-input label {
  display: block;
  font-weight: bold;
}

.review-input input[type="text"],
.review-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.review-input select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.review-input .rating {
  display: flex;
}

.review-input .rating .star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  transition: color 0.2s;
}

.review-input .rating .star.selected {
  color: #fddb3a;
}

.review-input button[type="submit"] {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  background-color: #06bbcc;
}

.review-input button[type="submit"]:hover {
  background-color: #fff;
  color: #06bbcc;
}

@media (max-width: 1024px) {
  .course-page {
    flex-direction: column;
    align-items: center;
  }

  .course-content {
    width: 90%;
  }

  .main-content,
  .sidebar {
    width: 100%;
    margin: 0;
  }

  .video-player-container,
  .course-details-section {
    width: 100%;
  }

  .sidebar {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .course-information {
    flex-direction: column;
    align-items: center;
  }

  .rating-section,
  .student-section,
  .hours-section {
    padding: 10px;
  }

  .what-learn {
    margin-top: 20px;
  }

  .what-learn h2 {
    font-size: 1.2rem;
  }

  .learn-list {
    margin-left: 0;
    padding-left: 0;
  }

  .learn-list li {
    margin: 0.5rem 0;
  }

  .instructor-container {
    flex-direction: column;
    align-items: center;
  }

  .instructor-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .instructor-updated,
  .instructor-institute {
    margin-top: 20px;
  }

  .instructor-experience {
    padding-top: 0;
  }

  .instructor-experience p {
    font-size: 14px;
  }

  .reviews-container {
    padding: 10px;
  }

  .reviews-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .review-item {
    padding: 10px;
    margin-bottom: 15px;
  }

  .review-header {
    flex-direction: column;
  }

  .review-author,
  .review-date {
    margin: 5px 0;
  }

  .review-rating {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .review-comment {
    font-size: 14px;
    line-height: 1.3;
  }

  .review-form-container {
    width: 100%;
  }

  .review-input {
    margin-bottom: 10px;
  }

  .review-input label {
    font-size: 14px;
  }

  .review-input input[type="text"],
  .review-input textarea,
  .review-input select {
    font-size: 14px;
  }

  .review-input button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}
